<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<html lang="ru">
<head>
    <title>CRUD Spring project - Главная страница</title>
</head>
<body>
<div th:replace="header :: content"></div>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Привет, Javauser!</h1>
            <p>Товарищи! рамки и место обучения кадров позволяет оценить значение новых предложений.
                Равным образом дальнейшее развитие различных форм деятельности представляет собой
                интересный эксперимент проверки существенных финансовых и административных условий.
                Не следует, однако забывать, что новая модель организационной деятельности влечет за собой
                процесс внедрения и модернизации систем массового участия.
            <p>
                С другой стороны новая модель организационной деятельности влечет за собой процесс
                внедрения и модернизации форм развития. Задача организации, в особенности же реализация намеченных
                плановых заданий представляет собой интересный эксперимент проверки существенных финансовых и
                административных условий. Задача организации, в особенности же постоянное информационно-пропагандистское
                обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений
                развития.
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Полный бред!</h2>
                <p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за
                    собой процесс внедрения и модернизации существенных финансовых и административных условий. Товарищи!
                    укрепление и развитие структуры представляет собой интересный эксперимент проверки форм развития.
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Не баг, а фича.</h2>
                <p>С другой стороны начало повседневной работы по формированию позиции в значительной степени
                    обуславливает создание направлений прогрессивного развития. Повседневная практика показывает, что
                    укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении
                    поставленных задач.
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Рыбатекст?</h2>
                <p>Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный
                    эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что
                    дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий
                    активизации.
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
        </div>

        <hr>

    </div>
    <!-- /container -->

</main>

<!--<h2>Приложение Spring MVC</h2>-->

<!--<div sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Admin page</a> <br/></div>-->
<!--<div sec:authorize="hasAnyRole('USER','ADMIN')"><a th:href="@{/user}">Personal User page</a> <br/></div>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    Logged user: <span sec:authentication="name">xxx</span><br/>-->
<!--    <a th:href="@{/logout}">Logout</a><br/>-->
<!--</div>-->
<!--<br/>-->
<!--<div>-->
<!--    <th:block th:each="msg : ${messages}">-->
<!--        <h1 th:text="${msg}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
<div th:replace="footer :: content"></div>
</body>
</html>