<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>CRUD Spring project - Страница управления пользователями</title>
</head>
<body>
<div th:replace="header :: content"></div>
<div class="row">
    <div sec:authorize="isAuthenticated()" th:replace="navtab :: content"></div>
    <main role="main" class="ml-sm-auto col-md-10">
        <h1>Rest Панель администратора</h1>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">Таблица пользователей</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Добавить пользователя</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">Управление ролями</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h2>Список пользователей</h2>


            </div>
            <div class="tab-pane fade col-sm-8 mx-auto" id="nav-profile" role="tabpanel"
                 aria-labelledby="nav-profile-tab">
                <h2> Новый пользователь</h2>


            </div>

            <div class="tab-pane fade col-sm-8 mx-auto" id="nav-contact" role="tabpanel"
                 aria-labelledby="nav-contact-tab">
                <h2>Список доступных ролей</h2>

            </div>
        </div>
    </main>
</div>
<div th:replace="footer :: content"></div>
</body>
</html>